<!DOCTYPE html>
<html>
    <head>
        <title>About Us </title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
     </head>
<body class="aboutUsPage">
        <header>
            <!-- Creating navigation bar -->
                <div class="main">
                    <ul class="nav">
                        <li class="nav-li"><a href="/">Home</a></li>
                        {% if session['logged in'] == True %}
                        <li class="nav-li">
                                <a href="logout">Logout</a>
                              </li>
                              {% else %}
                              <li class="nav-li">
                                    <a href="login">Login</a>
                                  </li>
                          {%endif%}
                            <li class="nav-li"><a href="aboutUs">About Us</a></li>
                            <li class="nav-li"><a href="airlineStocks">Stocks</a></li>
                            <li class="nav-li"><a href="weather">Weather</a></li>
                            <li class="nav-li"><a href="contact">Guestbook</a></li>
                            <li class="nav-li"><a href="information">Airlines</a></li>
                            <li class="nav-li"><div class="search">
                                    <div class="box">
                                    <input type="text" id="myInput" class="search-text" onkeyup="myFunction()" onmouseover="popup()" onmouseout="hide()" placeholder="Search Here">
                                    <a href="#" class="search-btn"> 
                                           Search
                                    </a>
                                </div>
                                </div>
                            </li>
                        </ul>
                </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <!-- Functions for the search bar -->
                        <ul onmouseover="popup()" onmouseout="hide()" id="myUL">
            
                                <li><a href="etihadAir">Etihad Airways</a></li>
                                <li><a href="turkishAir">Turkish Airways</a></li>
                              
                                <li><a href="emiratesAir">Emirates</a></li>
                                <li><a href="swissAir">Swiss Int Air</a></li>
                              
                                <li><a href="indigo">Indigo</a></li>
                                <li><a href="flyDubai">FlyDubai</a></li>
                                <li><a href="airArabia">Airarabia</a></li>
                                <li><a href="virginAtlantic">Virgin Air</a></li>
                              </ul>
                              <script>
                                    function myFunction() {
                                        var input, filter, ul, li, a, i, txtValue;
                                        input = document.getElementById("myInput");
                                        filter = input.value.toUpperCase();
                                        ul = document.getElementById("myUL");
                                        li = ul.getElementsByTagName("li");
                                        for (i = 0; i < li.length; i++) {
                                            a = li[i].getElementsByTagName("a")[0];
                                            txtValue = a.textContent || a.innerText;
                                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                                li[i].style.display = "";
                                            } else {
                                                li[i].style.display = "none";
                                            }
                                        }
                                    }
                                    function popup(){
                                        var a = document.getElementById("myUL");
                                        a.setAttribute("style","visibility:visible");
                                    }
                                    function hide(){
                                        var a = document.getElementById("myUL");
                                        a.setAttribute("style","visibility:hidden");
                                        var b=document.getElementsByClassName("search-text");
                                        b.setAttribute("style","width:200px");
                                    }
                                    </script>
                    </header>
                    <!-- Description -->
        <h1 class="aboutUsHeading">About Us</h1>
        <p class="aboutUsdescription">Welcome to Unravel Your Travel!<br>
                The modern era brings us to the dynamics of travel. We are faced with the splendors of the breathtaking countryside and 
                the peaks of the iced capped mountains … to choose from. We may want a relaxed getaway from the normal hustle bustle 
                of everyday life or find a relief to our overworked minds with an adventurous exploration.
                No matter what, we all need an escape from time to time to rejuvenate oneself.
                The most vital challenge faced at such a time is the cost and selecting the mode of travel which in turn contributes to 
                an important aspect.
                These modern times have seen the introduction of Elite Air travel and simultaneously the rising of Budget Air travel. 
                We are bringing here a roundup of selections based on four flights each from both the services.
                The surety of the information to be helpful and wishing us all a pleasant journey.</p>
                <p class="message1">"{{text1}} {{text2}} {{text3}}" <br>-Emirates </p>
                
                
        
        
</body>
</html>