<!DOCTYPE html>
<html>
    <head>
        <title>Etihad Airways</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
<body class="etihadPage">
    <header>
            <div class="main">
                    <ul class="nav">
                        <li class="nav-li"><a href="/">Home</a></li>
                        {% if session['logged in'] == True %}
                        <li class="nav-li">
                                <a href="logout">Logout</a>
                              </li>
                              {% else %}
                              <li class="nav-li">
                                    <a href="login">Login</a>
                                  </li>
                          {%endif%}
                        <li class="nav-li"><a href="aboutUs">About Us</a></li>
                        <li class="nav-li"><a href="airlineStocks">Stocks</a></li>
                        <li class="nav-li"><a href="weather">Weather</a></li>
                        <li class="nav-li"><a href="contact">Guestbook</a></li>
                        <li class="nav-li"><a href="information">Airlines</a></li>
                        <li class="nav-li"><div class="search">
                                <div class="box">
                                <input type="text" id="myInput" class="search-text" onkeyup="myFunction()" onmouseover="popup()" onmouseout="hide()" placeholder="Search Here">
                                <a href="#" class="search-btn"> 
                                       Search
                                </a>
                            </div>
                            </div>
                        </li>
                    </ul>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <ul onmouseover="popup()" onmouseout="hide()" id="myUL">
        
                            <li><a href="etihadAir">Etihad Airways</a></li>
                            <li><a href="turkishAir">Turkish Airways</a></li>
                          
                            <li><a href="emiratesAir">Emirates</a></li>
                            <li><a href="swissAir">Swiss Int Air</a></li>
                          
                            <li><a href="indigo">Indigo</a></li>
                            <li><a href="flyDubai">FlyDubai</a></li>
                            <li><a href="airArabia">Airarabia</a></li>
                            <li><a href="virginAtlantic">Virgin Air</a></li>
                          </ul>
                          <script>
                                function myFunction() {
                                    var input, filter, ul, li, a, i, txtValue;
                                    input = document.getElementById("myInput");
                                    filter = input.value.toUpperCase();
                                    ul = document.getElementById("myUL");
                                    li = ul.getElementsByTagName("li");
                                    for (i = 0; i < li.length; i++) {
                                        a = li[i].getElementsByTagName("a")[0];
                                        txtValue = a.textContent || a.innerText;
                                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                            li[i].style.display = "";
                                        } else {
                                            li[i].style.display = "none";
                                        }
                                    }
                                }
                                function popup(){
                                    var a = document.getElementById("myUL");
                                    a.setAttribute("style","visibility:visible");
                                }
                                function hide(){
                                    var a = document.getElementById("myUL");
                                    a.setAttribute("style","visibility:hidden");
                                    var b=document.getElementsByClassName("search-text");
                                    b.setAttribute("style","width:200px");
                                }
                                </script>
    </header>
    <article>
        <section class="heading">
            ETIHAD AIRWAYS
            <br>
            <img class="etihadimg" src="static/images/interior/etihadpic.jpg" height="325" width="500" align="left">
            <div class="description">
            <p>Etihad Airways (Arabic: شَرِكَة ٱلْاِتِّحَاد لِلطَّيْرَان‎, 
                romanized: sharikat al-ittiḥād li-ṭ-ṭayarān) is the second-largest airline in the UAE (after Emirates). 
                Its head office is in Khalifa City, Abu Dhabi, near Abu Dhabi's International Airport. 
                Etihad commenced operations in November 2003.
                The airline operates more than 1,000 flights per week to over 120 passenger and cargo destinations in the Middle East,
                Africa, Europe, Asia, Australia, and the Americas, with a fleet of 117 Airbus and Boeing aircraft as of February 2018. 
                In 2015, Etihad carried 14.8 million passengers, a 22.3% increase from the previous year, delivering revenues of US$9.02 billion
                and net profits of US$103 million. Its main base is Abu Dhabi International Airport.</p></div>
        </section>
        <section>
                {% if session['logged in'] == True %} 
            <div> 
            <p class="heading-comment">Comments:</p>   
            <form action="{{url_for('etihadc')}}" method="POST">
                <input class="review" type="textarea" placeholder="Enter review" name="comment">
                <button type="submit" class="submit-review">Submit</button>
            </form>
        </div>
        {% else %}
        <p class="comment">You need to be logged in to post comments</p>
        {% endif %}
        </section>
        <section style="color: white">

            
                <table id="airlineTable" border = 1 align="center">
                    <tr>
                        <th>Name</th>
                        <th>Comment</th>   
                    </tr>
                    {% for comment in comments %}
                    <tr>
                        <td> {{comment[0]}} </td>
                        <td> {{comment[1]}} </td>
                    </tr>
            {% endfor %}
        </table>
        </section>
    </article>
</body>
</html>